<% layout('/layouts/Boiler Plate') %>
    <div class="row d-flex justify-content-center p-2">
        <div class="card bg-light p-3 border border-success rounded-3 width-forty">
            <div class="col-lg-10 offset-lg-1">
                <div class="card-body">
                    <div class="d-flex flex-wrap gap-2 justify-content-between mb-3">
                        <a href="/stories" class="card-link btn rounded-pill btn-secondary btn-sm">Go Back</a>
                        <% if(currentUser && currentUser.equals(story.author)) { %>
                            <div class="items">
                                <a href="/stories/<%=story._id%>/manage"
                                    class="card-link btn rounded-pill btn-info btn-sm">Manage</a>
                                <a href="/stories/<%=story._id%>/edit"
                                    class="card-link btn rounded-pill btn-warning btn-sm">Edit</a>
                                <a href="/stories/<%=story._id%>/remove"
                                    class="card-link btn rounded-pill btn-danger btn-sm">Delete</a>
                            </div>
                            <% } %>
                    </div>
                    <h1 class="card-title">
                        <%=story.title%>
                    </h1>
                    <p class="card-text text-muted">
                        <%=story.location ? story.location : 'Location: Unknown' %>
                    </p>
                    <p class="card-text text-justify">
                        <%=story.description %>
                    </p>
                    <% if(story.images.length> 0) { %>
                        <div id="storyCarousel" class="carousel slide mt-2 mb-3" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <% story.images.forEach((image, index)=> { %>
                                    <div class="carousel-item <%= (index === 0) ? 'active' : '' %>"
                                        data-bs-interval="5000">
                                        <a href="<%=image.url%>"><img src="<%=image.cardImage%>" alt=""
                                                class="d-block w-100 pointer" title="Click to view Image"
                                                crossorigin></a>
                                    </div>
                                    <% }); %>
                            </div>
                            <% if(story.images.length> 1) { %>
                                <button class="carousel-control-prev" type="button" data-bs-target="#storyCarousel"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#storyCarousel"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <% } %>
                        </div>
                        <% } else {%>
                            <img src="https://res.cloudinary.com/dtwgxcqkr/image/upload/v1706147664/Kheti%20Sahayak%20Related%20Media/No_Image_Available.webp"
                                alt="No Image Available" class="img-fluid mt-2" crossorigin>
                            <% } %>
                </div>
            </div>
        </div>
    </div>